<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel="stylesheet" href="/static/styles/main.css"/>
  </head>
  <body>
    <h2>Welcome to FlaskExperiment!!!</h2>
    <div>
      <div id="Right">
        <h3> Games </h3>
        <p>
          <a href="/login">Login</a>
        </p>
        <p>
          <a href="/logout">Logout</a>
        </p>
        <p>
          <a href="/gameList">Game List</a>
        </p>
      </div>
      <div id="Left">
        <h3> Flask Example Stuff </h3>
        <form action="/form" method="post">
            Email:<br>
            <input type="text" name="email"></input>
            <input type="submit" name="form"></input>
        </form>
        <div>
          <p>
            <a href="/secret">Current User</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
