<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <h2>This is some forms!!!</h2>
    <form action="/form" method="post">
      <fieldset>
        Email:<br>
        <input type="text" name="email"></input>
        <input type="submit" name="form"></input>
      </fieldset>
    </form>
    <form action="/search" method="post">
      <fieldset>
        Search:<br>
        <input type="text" name="id"></input>
        <input type="submit" name="Form">
      </fieldset>
    </form>
    <form action="/newUser", method="post">
      email: <br>
      <input type="text" name="email"></input>
      password: <br>
      <input type="text" name="password"></input>
      <input type="submit" name="newUser"></input>
    </form>
    <div>
      <p>
        <a href="/inventory">inventory</a>
      </p>
      <p>
        <a href="/secret">Current User</a>
      </p>
      <p>
        <a href="/login">login</a>
      </p>
      <p>
        <a href="/logout">logout</a>
      </p>
    </div>
  </body>
</html>
