<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <h2>This is some forms!!!</h2>
    <form action="/form" method="post">
      <fieldset>
        Email:<br>
        <input type="text" name="email"></input>
        <input type="submit" name="form"></input>
      </fieldset>
    </form>
    <form action="/search" method="post">
      <fieldset>
        Search:<br>
        <input type="text" name="id"></input>
        <input type="submit" name="Form">
      </fieldset>
    </form>
  </body>
</html>
